.auth-box {
    position: absolute;
    width: 40rem;
    left: 10%;

    top: 50%;
    transform: translateY(-50%);

    background: #FFFFFF;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
}

.auth-title {
    font-size: 4.8rem;
    color: #000000;

    margin-bottom: 0px;
}

.auth-hint-container {
    position: relative;
    margin-bottom: 2.5rem;

    height: 1.8rem;
    width: 100%;
}

.auth-hint {
    position: absolute;

    font-size: 1.6rem;
    color: #969696;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    width: 100%;
}

.auth-hint-error {
    text-transform: uppercase;
    color: #e67070;

    animation: shake-horizontally 0.25s ease-in-out;
}

@keyframes shake-horizontally {
    0% {
        left: 50%;
    }

    25% {
        left: 53%;
    }

    50% {
        left: 50%;
    }

    75% {
        left: 47%;
    }

    100% {
        left: 50%;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-field-group {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.auth-input {
    width: 27.5rem;
    height: 3.9rem;

    box-sizing: border-box;

    font-size: 1.6rem;
    color: var(--app-bg-color);
    font-family: var(--app-font-family);

    padding-left: 2rem;
    padding-right: 2rem;

    background: #F4F4F4;
    border-radius: 2.5rem;
    border: none;

    transition: background-color 0.25s ease-in-out;
}

.auth-input::selection {
    background-color: #101010;
    color: #FFFFFF;
}

.auth-invalid-input {
    background-color: #eec8c8 !important;

    outline-color: #e67070;
    outline-width: 0.2rem;
    outline-style: solid;
}

.auth-password-group {
    position: relative;
}

.auth-password-group>.auth-input {
    padding-right: 5.5rem;
}

.auth-show-password {
    position: absolute;
    right: 1.5rem;

    height: 2.5rem;

    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

.auth-submit-button {
    height: 4.5rem;
    border-radius: 5rem;

    padding-left: 2rem;
    padding-right: 2rem;

    margin-top: 2.5rem;

    flex-shrink: 0;

    transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

.auth-submit-button-disabled {
    filter: contrast(0.8) grayscale(0.1);
    cursor: not-allowed;
    opacity: 0.5;
}

.auth-submit-button-awaiting {
    color: transparent;
    position: relative;
}

.auth-submit-button-awaiting::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-image: url('/public/img/spinner.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.8rem;

    animation: fade-in 0.1s ease forwards, spin 1s ease infinite;

    transition: color 0.1s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.auth-alt-group {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2.5rem;

    gap: 2rem;
}

.auth-continue-google {
    width: 27.5rem;
    height: 3.9rem;

    background: #1B66C9;
    border-radius: 5rem;
    border: none;

    font-size: 1.6rem;
}

.auth-continue-github {
    width: 27.5rem;
    height: 3.9rem;

    background: #232629;
    border-radius: 5rem;
    border: none;

    font-size: 1.6rem;
}

.auth-option-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.auth-option {
    font-size: 1.6rem;
    color: #000000;

    height: 2.3rem;
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    align-items: center;
}

.auth-option>span {
    height: inherit;

    display: flex;
    align-items: center;
}

.auth-option>a {
    color: var(--app-acc-color);
    text-decoration: none;

    height: inherit;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.auth-option>a:hover {
    text-decoration: underline;
}