/* latin */
@font-face {
    font-family: 'Squarish Sans CT Regular';
    src: url('../fonts/SquarishSansCTRegular.woff2');
    /* src: url('../fonts/squarish_sans_ct_regular.ttf'); */
    /* src: url('https://raw.githubusercontent.com/opensourcedesign/fonts/96da5c8b6cdc1b91d2ee58efef3f0402f5a47217/squarishSans/Squarish%20Sans%20CT%20Regular.ttf'); */
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@media (prefers-color-scheme: dark) {
    :root {
        --app-bg-color: #101010;
        --app-bg-color-transparent: #10101080;

        --app-font-color: #FFFFFF;
        --app-button-font-color: #FFFFFF;
        --app-aux-font-color: #EAEAEA;

        --app-acc-color: #EB6645;
        --app-aux-color: #21395E;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --app-bg-color: #FFFFFF;
        --app-bg-color-transparent: #FFFFFF80;

        --app-font-color: #101010;
        --app-button-font-color: #FFFFFF;
        --app-aux-font-color: #202020;

        --app-acc-color: #EB6645;
        --app-aux-color: #21395E;
    }
}

:root {
    --app-font-family: 'Squarish Sans CT Regular', Sans-Serif;

    font-family: var(--app-font-family);
    font-size: 16px;
    font-weight: 400;

    color-scheme: dark;
    color: var(--app-font-color);
    background-color: var(--app-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.container {
    width: inherit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;

    position: relative;
}

.top-bar {
    position: sticky;
    top: 0;

    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: var(--app-bg-color-transparent);

    justify-content: space-between;

    z-index: 100;
}

.branding {
    cursor: pointer;
    text-decoration: none;

    height: 40px;
}

.logo {
    height: 40px;
}

.icon {
    height: 40px;
    display: none;
}

.nav-burger-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 101;

    transition: transform 0.25s ease-in-out;


    width: 40px;
}

.nav-burger-mobile.button-small {
    transition: transform 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-burger-mobile>img {
    height: 20px;
}

.nav-burger-mobile-active {
    transform: rotate(90deg);
}

.top-avatar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;

    box-shadow: 0 0 20px 0 #ffffff80 !important;
}

.top-avatar-mobile:hover {
    box-shadow: 0 0 20px 0 #ffffff !important;
}

.top-avatar-mobile>img {
    height: 40px;
}

.nav-bar {
    height: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    margin-left: 30px;
    /* margin-left: auto; */
    margin-right: auto;

    gap: 30px;
}

.nav-link {
    font-size: 24px;
    color: var(--app-font-color);
    text-decoration: none;
    user-select: none;

    height: inherit;

    margin-top: 2px;
    margin-bottom: 3px;
    box-sizing: border-box;

    transition: border-bottom 0.2s ease-in-out;
}

.nav-link::selection {
    background-color: transparent;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link-active {
    border-bottom: 2px solid var(--app-font-color);
}

#navBurger {
    height: 25px;
}

.nav-menu {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin-top: 10px;

    left: -100%;

    background-color: var(--app-aux-color);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #21395E80;

    animation-name: nav-menu-fade-in;
    animation-fill-mode: forwards;
    animation-duration: 0.25s;


    z-index: 100;
}

.nav-menu-hidden {
    animation-name: nav-menu-fade-out;
}

@keyframes nav-menu-fade-in {
    from {
        opacity: 0;
        visibility: hidden;
    }

    1% {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes nav-menu-fade-out {
    from {
        opacity: 1;
    }

    99% {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10000%);
    }
}

.nav-menu-mobile {
    position: absolute;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 20px;

    top: 0;
    left: -100%;

    width: 100vw;
    height: 100vh;

    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    background-color: var(--app-bg-color);
    /* background-color: var(--app-aux-color-transparent); */
    /* backdrop-filter: blur(100vmax); */

    z-index: 100;

    transition: left 0.25s ease-in-out;

    transform: translateZ(1px);
}

.nav-link-mobile {
    height: 40px;

    display: flex;
    align-items: center;

    margin: 0px;

    font-size: 32px;
}

.nav-menu-mobile-extended {
    left: 0;
}

.auth-group {
    height: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}

button {
    font-family: var(--app-font-family);
    color: var(--app-button-font-color);

    outline: none;
}

a {
    outline: none;
}

.button-small {
    height: 40px;
    font-size: 24px;
    text-transform: uppercase;

    background-color: var(--app-acc-color);

    padding-left: 12px;
    padding-right: 12px;

    border: none;
    border-radius: 20px;

    box-shadow: 0px 0px 20px 0px #eb664580;

    transition: box-shadow 0.2s ease-in-out;
}

.button-small:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #eb6645;
}

.button-big {
    height: 57px;
    width: fit-content;
    font-size: 32px;
    text-transform: uppercase;

    background-color: var(--app-acc-color);

    padding-left: 15px;
    padding-right: 15px;

    border: none;
    border-radius: 30px;

    margin: 10px;

    box-shadow: 0px 0px 20px 0px #eb664580;

    transition: box-shadow 0.2s ease-in-out;
}

.button-big:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #eb6645;
}

.button-aux {
    height: 45px;
    font-size: 24px;
    text-transform: uppercase;

    background-color: var(--app-aux-color);

    padding-left: 12px;
    padding-right: 12px;

    border: none;
    border-radius: 20px;

    margin: 10px;

    box-shadow: 0px 0px 20px 0px #21395E80;

    transition: box-shadow 0.2s ease-in-out;
}

.button-aux:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #21395E;
}

.text-logo {
    font-size: 96px;

    margin-top: 130px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
    letter-spacing: -0.075em;
}

.catchphrase {
    font-size: 32px;

    margin-top: 0px;
    margin-bottom: 135px;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;

    color: var(--app-aux-font-color);
}

.background04 {
    position: absolute;

    width: 100%;
    margin-top: 90px;

    height: calc(100% - 90px);

    z-index: -1;
    background-image: url('../img/background04.webp');
    background-position: top center;
    background-repeat: no-repeat;
}

.background03 {
    position: absolute;

    right: 10%;

    margin-top: 110px;
    margin-bottom: 110px;
    height: calc(100vh - 220px);
    width: calc(100vw - 20%);

    z-index: -1;
    background-image: url('../img/background03.webp');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

.background01 {
    position: absolute;

    right: 10%;

    margin-top: 110px;
    margin-bottom: 110px;
    height: calc(100vh - 220px);
    width: calc(100vw - 20%);

    z-index: -1;
    background-image: url('../img/background01.webp');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 720px) and (min-width: 601px) {
    .logo {
        display: none;
    }

    .icon {
        display: initial;
    }
}

@media screen and (max-width: 890px) {
    #topRegister {
        display: none;
    }

    .auth-group {
        gap: 0px;
    }
}

@media screen and (min-width: 601px) {
    .top-mobile {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .top-desktop {
        display: none;
    }

    .top-bar {
        justify-content: space-between;
    }

    .text-logo {
        font-size: 56px;
        margin-top: 100px;
    }

    .catchphrase {
        font-size: 24px;
        margin-bottom: 100px;
    }

    .background04 {
        margin-left: 20px;
        margin-right: 20px;

        width: calc(100% - 40px);

        background-size: contain;
        background-position: center;
    }
}