/* latin */
@font-face {
    font-family: 'Squarish Sans CT Regular';
    src: url('/public/fonts/SquarishSansCTRegular.woff2');
    /* src: url('../fonts/squarish_sans_ct_regular.ttf'); */
    /* src: url('https://raw.githubusercontent.com/opensourcedesign/fonts/96da5c8b6cdc1b91d2ee58efef3f0402f5a47217/squarishSans/Squarish%20Sans%20CT%20Regular.ttf'); */
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@media (prefers-color-scheme: dark) {
    :root {
        --app-bg-color: #101010;
        --app-bg-color-transparent: #10101080;

        --app-font-color: #FFFFFF;
        --app-button-font-color: #FFFFFF;
        --app-aux-font-color: #EAEAEA;

        --app-acc-color: #EB6645;
        --app-aux-color: #21395E;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --app-bg-color: #FFFFFF;
        --app-bg-color-transparent: #FFFFFF80;

        --app-font-color: #101010;
        --app-button-font-color: #FFFFFF;
        --app-aux-font-color: #202020;

        --app-acc-color: #EB6645;
        --app-aux-color: #21395E;
    }
}

:root {
    --app-font-family: 'Squarish Sans CT Regular', Sans-Serif;

    font-family: var(--app-font-family);
    font-size: 10px;
    font-weight: 400;

    color-scheme: dark;
    color: var(--app-font-color);
    background-color: var(--app-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.container {
    width: inherit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;

    position: relative;
}

.top-bar {
    position: sticky;
    top: 0;

    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    padding: 3rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: var(--app-bg-color-transparent);

    justify-content: space-between;

    z-index: 100;
}

.branding {
    cursor: pointer;
    text-decoration: none;

    height: 4rem;
}

.logo {
    height: 4rem;
}

.icon {
    height: 4rem;
    display: none;
}

.nav-burger-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 101;

    transition: transform 0.25s ease-in-out;


    width: 4rem;
}

.nav-burger-mobile.button-small {
    transition: transform 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-burger-mobile>img {
    height: 2rem;
}

.nav-burger-mobile-active {
    transform: rotate(90deg);
}

.top-avatar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;

    box-shadow: 0 0 2rem 0 #ffffff80 !important;
}

.top-avatar-mobile:hover {
    box-shadow: 0 0 2rem 0 #ffffff !important;
}

.top-avatar-mobile>img {
    height: 4rem;
}

.nav-bar {
    height: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    margin-left: 3rem;
    /* margin-left: auto; */
    margin-right: auto;

    gap: 3rem;
}

.nav-link {
    font-size: 2.4rem;
    color: var(--app-font-color);
    text-decoration: none;
    user-select: none;

    height: inherit;

    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    box-sizing: border-box;

    transition: border-bottom 0.2s ease-in-out;

    cursor: pointer;
}

.nav-link::selection {
    background-color: transparent;
}

.nav-link-active {
    border-bottom: 0.2rem solid var(--app-font-color);
}

#navBurger {
    height: 2.5rem;
}

.nav-menu {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    margin-top: 1rem;

    left: -100%;

    background-color: var(--app-aux-color);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2rem 0px #21395E80;

    animation-name: nav-menu-fade-in;
    animation-fill-mode: forwards;
    animation-duration: 0.25s;


    z-index: 100;
}

.nav-menu-hidden {
    animation-name: nav-menu-fade-out;
}

@keyframes nav-menu-fade-in {
    from {
        opacity: 0;
        visibility: hidden;
    }

    1% {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes nav-menu-fade-out {
    from {
        opacity: 1;
    }

    99% {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10000%);
    }
}

.nav-menu-mobile {
    position: absolute;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 2rem;

    top: 0;
    left: -100%;

    width: 100vw;
    height: 100vh;

    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;

    background-color: var(--app-bg-color);
    /* background-color: var(--app-aux-color-transparent); */
    /* backdrop-filter: blur(100vmax); */

    z-index: 100;

    transition: left 0.25s ease-in-out;

    transform: translateZ(1px);
}

.nav-link-mobile {
    height: 4rem;

    display: flex;
    align-items: center;

    margin: 0px;

    font-size: 3.2rem;
}

.nav-menu-mobile-extended {
    left: 0;
}

.auth-group {
    height: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 3rem;
}

button {
    font-family: var(--app-font-family);
    color: var(--app-button-font-color);

    outline: none;
}

a {
    outline: none;

    text-decoration: none;
    text-align: center;

    display: flex;
    align-items: center;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
}

.button-small {
    height: 4rem;
    font-size: 2.4rem;
    text-transform: uppercase;

    background-color: var(--app-acc-color);

    padding-left: 1.2rem;
    padding-right: 1.2rem;

    border: none;
    border-radius: 2rem;

    box-shadow: 0px 0px 2rem 0px #eb664580;

    transition: box-shadow 0.2s ease-in-out;

    cursor: pointer;

    flex-shrink: 0;
}

.button-small:hover {
    box-shadow: 0px 0px 2rem 0px #eb6645;
}

.button-big {
    height: 5.7rem;
    width: fit-content;
    font-size: 3.2rem;
    text-transform: uppercase;

    background-color: var(--app-acc-color);

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border: none;
    border-radius: 3rem;

    margin: 1rem;

    box-shadow: 0px 0px 2rem 0px #eb664580;

    transition: box-shadow 0.2s ease-in-out;
}

.button-big:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2rem 0px #eb6645;
}

.button-aux {
    height: 4.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;

    background-color: var(--app-aux-color);

    padding-left: 1.2rem;
    padding-right: 1.2rem;

    border: none;
    border-radius: 2rem;

    margin: 1rem;

    box-shadow: 0px 0px 2rem 0px #21395E80;

    transition: box-shadow 0.2s ease-in-out;

    cursor: pointer;
}

.button-aux:hover {
    box-shadow: 0px 0px 2rem 0px #21395E;
}

.text-logo {
    font-size: 9.6rem;

    margin-top: 13rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    text-align: center;
    letter-spacing: -0.075em;
}

.catchphrase {
    font-size: 3.2rem;

    margin-top: 0px;
    margin-bottom: 13.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    text-align: center;

    color: var(--app-aux-font-color);
}

.background04 {
    position: absolute;

    width: 100%;
    margin-top: 9rem;

    height: calc(100% - 9rem);

    z-index: -1;
    background-image: url('/public/img/background04_lq.webp');
    background-position: top center;
    background-repeat: no-repeat;
}

.background03 {
    position: absolute;

    right: 10%;

    margin-top: 11rem;
    margin-bottom: 11rem;
    height: calc(100vh - 22rem);
    width: calc(100vw - 20%);

    z-index: -1;
    background-image: url('/public/img/background03_lq.webp');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

.background01 {
    position: absolute;

    right: 10%;

    margin-top: 11rem;
    margin-bottom: 11rem;
    height: calc(100vh - 22rem);
    width: calc(100vw - 20%);

    z-index: -1;
    background-image: url('/public/img/background01_lq.webp');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 720px) and (min-width: 601px) {
    .logo {
        display: none;
    }

    .icon {
        display: initial;
    }
}

@media screen and (max-width: 890px) {
    #topRegister {
        display: none;
    }

    .auth-group {
        gap: 0px;
    }
}

@media screen and (min-width: 601px) {
    .top-mobile {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .top-desktop {
        display: none;
    }

    .top-bar {
        justify-content: space-between;
    }

    .text-logo {
        font-size: 5.6rem;
        margin-top: 10rem;
    }

    .catchphrase {
        font-size: 2.4rem;
        margin-bottom: 10rem;
    }

    .background04 {
        margin-left: 2rem;
        margin-right: 2rem;

        width: calc(100% - 4rem);

        background-size: contain;
        background-position: center;
    }
}

.button-awaitable {
    transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

.button-disabled {
    filter: contrast(0.8) grayscale(0.1);
    cursor: not-allowed;
    opacity: 0.5;
}

.button-awaiting {
    color: transparent;
    position: relative;
}

.button-awaiting::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-image: url('/public/img/spinner.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.8rem;

    animation: fade-in 0.1s ease forwards, spin 1s ease infinite;

    transition: color 0.1s;
}

.disabled {
    pointer-events: none !important;
    display: none !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.checkbox-default-container>input {
    display: none;
}

.checkbox-default-container>label {
    position: relative;
    display: block;
    height: 1em;
    aspect-ratio: 2/1;
    border-radius: 30rem;
    background-color: var(--app-font-color);
    cursor: pointer;

    box-shadow: inset 0 0 0.1em var(--app-bg-color);
    transition: box-shadow 0.2s ease-in-out;
}

.checkbox-default-container>input:checked+label {
    box-shadow: initial;
}

.checkbox-default-container>label::before {
    content: "";
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    height: 0.8em;
    aspect-ratio: 1/1;
    border-radius: 300rem;
    background-color: var(--app-bg-color);
    transition: 0.2s ease-in-out;

    box-sizing: border-box;
    box-shadow: 0 0 0.5rem var(--app-bg-color);

    opacity: 0.7;
}

.checkbox-default-container>input:checked+label::before {
    left: calc(50% + 0.1em);
    background-color: var(--app-acc-color);
    box-shadow: 0 0 0.5rem var(--app-acc-color);

    opacity: 1;
}

.range-default {
    pointer-events: initial;

    -webkit-appearance: none;
    appearance: none;
    height: 0.4em;
    background-color: var(--app-font-color);
    border-radius: 1.6rem;
    box-shadow: 0px 0px 0.1em var(--app-font-color);
    outline: none;

    font-size: inherit;
    line-height: inherit;

    box-sizing: border-box;

    margin: 0.5em 0;
}

.range-default::-webkit-slider-thumb {
    border-radius: 100%;

    -webkit-appearance: none;
    appearance: none;
    height: 1em;
    width: 1em;
    border: none;
    background: var(--app-acc-color);
    cursor: pointer;

    transition: filter .3s;
    filter: drop-shadow(0 0 0.2em var(--app-acc-color));
}

.range-default::-moz-range-thumb {
    border-radius: 100%;

    height: 1em;
    width: 1em;
    border: none;
    background: var(--app-acc-color);
    cursor: pointer;

    transition: filter .3s;
    filter: drop-shadow(0 0 0.2em var(--app-acc-color));
}

.range-default::-webkit-slider-thumb:active {
    filter: drop-shadow(0 0 0.5em var(--app-acc-color));
}

.range-default::-moz-range-thumb:active {
    filter: drop-shadow(0 0 0.5em var(--app-acc-color));
}